CREATE TABLE IF NOT EXISTS meeting_logs (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_email TEXT NOT NULL,
    admin_email TEXT NOT NULL,
    meeting_type TEXT NOT NULL, -- 'admin_to_user' or 'user_to_admin'
    calendly_event_id TEXT,
    scheduled_at TIMESTAMP WITH TIME ZONE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);
